*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
  font-size: 40px;
  gap: 10px;
  padding-bottom: 20px;
  color: #595454;
}

.h2{
font-size: 40px;
  gap: 10px;
  padding-bottom: 20px;
  color: rebeccapurple;
}

.container {
  background-color: #FFF;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 2px 2px 8px 0px rgba(66, 68, 90, 1);
}

.container>h1 {
  margin-bottom: 20px;
  color: blueviolet ;
}

.container>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: dimgray;
}


.container div {
  display: flex;
  flex-direction: column;
}

.container input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.container input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #007bff;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}